:root {
  --t-half-spacing: 10px; /* Half of the default spacing */
  --t-default-spacing: 20px; /* Default padding to create some whitespace, e.g. in figure */
  --t-default-box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;
}

body {
  width: 800px;
  font-family: 'Inter UI', system-ui, sans-serif;
}

img {
  width: 100%;
}

.sc-card {
  box-shadow: var(--t-default-box-shadow);
  margin: var(--t-half-spacing) 0;
  font-size: var(--t-small-font-size);
  padding: var(--t-default-spacing);
}
